.Landing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
}

.Landing__container a {
    margin: 15px;
}

.Landing__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Landing__arrow-container {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Landing__arrow {
    width: 0;
    height: 0;
    border-width: 20px 20px 0px 20px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    position: relative;
}

.Landing__arrow:after {
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 20px 20px 0px 20px;
    bottom: 1px;
    content: "";
    position: absolute;
    top: -23px;
    left: -20px;
}

.Landing__greeting-image {
    max-width: 75%;
}

.Landing__speech-bubble-container {
    width: 75%;
}

.Landing__speech-bubble {
    border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

