.LoadingSpinner__loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoadingSpinner__spinner {
    font-size: 30px;
}
