.PasswordChecklist__check {
    color: green;
    font-size: 20px;
    font-weight: 800;
}

.PasswordChecklist__x {
    color: darkred;
    font-size: 20px;
    font-weight: 800;
}

.PasswordChecklist__container li {
    font-size: 20px;
}
