.Story__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 75px);
}

.Story__h2 {
    height: 50px;
    margin: 5px;
    z-index: 10;
    color: #FFC71F;
    font-weight: 400;;
    border: 2px solid #FFC71F;
    background-color: #721D2B;
    padding: 5px;
}