.LoginForm__form {
    margin: 10px;
    width: 90%;
}

.LoginForm__input-label-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    line-height: 28px;
}

.LoginForm__input-label-container input {
    font-family: 'EB Garamond', serif;
}

.LoginForm__error {
    font-family: 'EB Garamond', serif;
    color: darkred;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.LoginForm__submit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
}

@media screen and (min-width: 750px) {
    .LoginForm__form {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .LoginForm__h2 {
        font-size: 40px;
    }

    .LoginForm__input-label-container label {
        font-size: 20px;
    }

    .LoginForm__input-label-container input {
        font-size: 20px;
        width: 300px;
    }

    .LoginForm__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
