@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Crimson+Text&display=swap');

.SaveHint__submit {
    margin: 5px;
    max-width: 200px;
}

.SaveHint__form {
    margin: 5px;
}

.SaveHint__form textarea {
    font-family: 'Crimson Text', serif;    
    font-size: 16px;
}

@media screen and (min-width: 1000px) {
    .SaveHint__form {
        display: flex;
        flex-direction: column;
        width: 800px;
    }

    .SaveHint__submit {
        align-self: center;
    }

    #custom-note {
        height: 200px;
        font-size: 18px;
    }
}