.LearnPage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 125px);
}

.LearnPage__image {
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-height: 75%
}

.LearnPage__background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 50%;
}

.LearnPage__background-image {
    z-index: -10;    
    height: 100%;
    width: 100%;
    display: block;
}

.LearnPage__text-hints-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.LearnPage__text-container {
    position: absolute;
    top: 50%;
    left: 0;
    min-height: 50%;
    width: 100vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('/images/paper-background-2-small.png') repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.LearnPage__do-link {
    align-self: center;
}

.LearnPage__text {
    margin: 0;
    padding: 5px;
}

.LearnPage__button-container {
    /* position: absolute; */
    width: 100%;
    /* bottom: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.LearnPage__nav-button {
    width: 75px;
}