.ChapterProgress__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFC71F;
    background-color: #721D2B;
    padding: 5px;
    width: 90%;
    margin: 5px auto;
}

.ChapterProgress__link {
    color: #FFC71F;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    margin: 5px 10px;
    font-size: 20px;
    text-align: center;
}

.ChapterProgress__link:active {
    text-decoration: underline;
}

.ChapterProgress__link:hover {
    color: goldenrod;
}

.ChapterProgress__leaf {
    margin: 5px;
    color: #FFC71F;
}

.ChapterProgress__h4 {
    font-size: 22px;
}

.ChapterProgress__h5 {
    font-size: 20px;
}

@media screen and (min-width: 1000px) {
    .ChapterProgress__link-container {
        width: 75%;
        margin-top: 15px;
    }

    .ChapterProgress__link {
        font-size: 20px;
    }

    .ChapterProgress__li-dates-completed,
    .ChapterProgress__p-times-completed {
        font-size: 20px;
    }

    .ChapterProgress__h4 {
        font-size: 24px;
    }

    .ChapterProgress__h5 {
        font-size: 22px;
    }
}
